<!DOCTYPE html>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
<html>

<head>
</head>

<body>
  <h1>login page</h1>
  <form action="/manupage" method="POST">
    User Name : <input id="username" type="text" name="username"><br />
    Password : <input type="text" name="pwd"> <br />
    <input type="submit" value="Send">
  </form>
  <p>
    <%= msg %>
  </p>
</body>

</html>