<!DOCTYPE html>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
<html>

<head>
</head>

<body>
  <h1>manu page</h1>
  <div>
    <a href="/searchmovie">search movie page</a>
  </div>
  <br />
  <div>
    <a href="/createmovie">create new movie</a>
  </div>
  <br />
  <div>
    <a href="/editUsers">
      <%= edit %>
    </a>
  </div>
  <br />
</body>

</html>